form-inline/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.alert{
  width:100%;
}

/*.banner{
  position:absolute;
  top:85px;
  left:0px;
  z-index:1000;
  color:#333;
}*/

#intro_action{
	margin-right:0px;
}

.borderbox{
  margin-top: 125px;
}

.borderbox input{
   color: #333;
}

.contentWrapper{
	padding-top:65px;
}

#applicationBody{
	padding:0px;
}

#footer{
  background-color:#333;
}

#login_error{
	color: #EF4747;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
}
