body{
  color: #111;
}

a {
  cursor:pointer;
}

.alert{
  position:absolute;
  top:85px;
  left:0px;
  z-index:1000;
  width:100%;
}

.introSection{
  background-color:#555;
  position:relative;
}

.borderbox{
  margin-top: 125px;
  color: #fff;
}

.borderbox input{
   color: #000;
}

.submit-btn{
  float: left;
}

.signup_box, .signup_box_space{
  margin-top:75px;
}

.signup-btn{
  cursor:pointer;
  color:#2a6496;
}

.signup-btn:hover{
  text-decoration:underline;
}

.signup-div{
   padding: 10px 0px;
}

.half-field{
  width: 49%;
}

.full-field{
  width:100%;
}

.signup-field{
  font-size:20px;
}

.signup-submit-btn{
  width:300px;
  font-size:20px;
}

#headerBar{
  position:fixed;
  top: 0px;
  left:0px;
  z-index:9999;
  min-height:100px;
  color:#000;
  background-color: rgba(0,0,0,0);
}

#header_logo h1{
  margin:0px;
  line-height:100px;
}

#intro_action{
  margin-top:1.35em;
  text-align:right;
}

#login{
  position:absolute;
  top: 25%;
  padding:25px;
  background-color:#fff;
  color:#000;
  border-radius: 15px;
  border: 2px #AAA solid;
}

#login h2, #login h1{
  margin-top: 0px;
}

#login_overlay{
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  width:100%;
  height:100%;
  background: rgba(100,100,100,0.5);
}

#login_esc{
  float:right;
  cursor: pointer;
}

#login_intro_signup{
  padding: 5px 0px;
  text-align: right;
}

#login_submit{
  margin-top: 1.36em;
}

#scrollBody{
  position:absolute;
  top:0px;
  left:0px;
}

#scrollBody{
  padding: 0;
}

#intro_welcome{
  background-color:#fff;
  background-image: url("/assets/landing_bkgd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#intro_footer{
  background-color:#000;
}
