body{
  color: #111;
}

a {
  cursor:pointer;
}

.introSection{
  background-color:#555;
  position:relative;
}

.borderbox{
  margin-top: 125px;
  color: #fff;
}

.borderbox input{
   color: #000;
}

.signup_box, .signup_box_space{
  margin-top:75px;
}

.signup_box input{
  float:right;
}

.signup-btn{
  cursor:pointer;
  color:#2a6496;
}

.signup-btn:hover{
  text-decoration:underline;
}

.signup-div{
   padding: 10px 0px;
}

.half-field{
  width: 49%;
}

.full-field{
  width:100%;
}

.signup-field{
  font-size:20px;
}

.signup-submit-btn{
  width:100%;
  font-size:20px;
}

#intro_action{
  margin-top:1.35em;
  text-align:right;
}

#scrollBody{
  padding: 0;
}

#intro_welcome{
  background-color:#fff;
  background-image: url("/assets/landing_bkgd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
